<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>An item was not found for <%= "#{@profile.id}: #{@profile.name.html_safe}" %>!</h1>
    <p>
      <%= @text %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>