<h1 class="pagetitle"><%= @other.name %></h1>

<p>
  <%= link_to "Lookup on Wiki", "http://castleage.wikia.com/wiki/Special:Search?fulltext=Search&search=#{@other.name}", :target => "_blank" %><br/>
  http://castleage.wikia.com/wiki/Castle_Age_Wiki
</p>

<p>
	<b>Type:</b> Miscellaneous item
</p>

<%= link_to 'Back', others_path %>