<h1 class="block">FAQ</h1>

<ul>
  <li>
    <strong>How do I design my loadout?</strong>
    <ul>
      In general, you will want to mirror one you have in CA.
			<li style="font-size:100%">
        If an item has piercing/resistance, it will populate in the appropriate column.
      </li>
			<li style="font-size:100%">
        I do list the number of slots an item has, for reference only.
      </li>
      <li style="font-size:100%">
        Select the general. If the general has piercing/resistance, it will populate in the appropriate column based on the current level.
				If the general you select can be in an alliance for PvP only (Annika, Aesir, Odin, Vanathan or Vanir), the proper piercing/resistance
				should be automatically calculated. I will probably add bonuses for monster attacking generals/alliances soon.
      </li>
      <li style="font-size:100%">
        Select the weapon. If you have forged your attack rune to the weapon, check the "Attack Rune Forged?" box. If you have forged physical
 				piercing ingots onto the weapon enter the piercing value in the text field.
      </li>
      <li style="font-size:100%">
        Select the banner. If you have forged your attack rune to the banner, check the "Attack Rune Forged?" box. If you have forged physical
 				piercing ingots onto the banner enter the piercing value in the text field.
      </li>
      <li style="font-size:100%">
        Select the shield. If you have forged physical piercing ingots onto the shield enter the piercing value in the text field.
      </li>
      <li style="font-size:100%">
        Select the helmet. If you have forged your defense rune to the helmet, check the "Defense Rune Forged?" box. If you have forged physical
 				resistance ingots onto the helmet, enter the resistance value in the text field. <b>Note: While I allow it, CA only allows you	to
	 			forge a	defense rune on the helmet or the armor, not both</b>
      </li>
      <li style="font-size:100%">
        Select the armor. If you have forged your defense	rune to the armor, check the "Defense Rune Forged?" box. If you have forged	physical
 				resistance ingots onto the armor, enter the resistance value in the text field. <b>Note: While I allow it, CA only allows you	to
	 			forge a defense rune on the helmet or the armor, not both</b>
      </li>
			<li style="font-size:100%">
				Select the amulet, glove, boot and magic.
			</li>
    </ul>
  </li>
  <li>
    <strong>How many can I create?</strong>
    <ul>
      As many as you like.
    </ul>
  </li>
  <li>
    <strong>Can I create loadouts which don't exist in CA?</strong>
    <ul>
      Of course. Use this tool to test which loadout could be best.
    </ul>
  </li>
  <li>
    <strong>What if the software is using incorrect piercing/resistance values, or the calculation seems wrong?</strong>
    <ul>
      This can occur due to typos on my part, or a misunderstanding of an item or generals abilities, or the developers changed something.
  		I am not a Castle Age developer	and they may make changes as they see fit, and they don't tell us everything.  If this occurs, you can
 			email me, and I'll attempt to fix the feature as soon as I am able. <%= link_to 'Contact the Admin', 'mailto:larsonm@msu.edu' %>
    </ul>
  </li>
</ul>