<h1 class="block">FAQ</h1>

<ul>
  <li>
    <%= image_tag 'genally_link_primary.gif', height: '18' %>
    <ul style="font-size:80%">
      <li>As this is a PvP centric list, the only general alliances I'm accounting for are the piercing/resistance ones.</li>
			<li>To that end, if you have Odin, I have to assume you've purchased Annika & Aesir and that you have the three in
			an alliance. If you do not have Odin, but have Annika, I have to assume you've purchased Aesir and have the two in
			an alliance.</li>
			<li>If you have Vanathan, I have to assume you've purchased Vanir and that you have the two in an alliance.</li>
    </ul>
  </li>
</ul>