<h1 class="block">FAQ</h1>

<ul>
  <li>
    <%= image_tag 'genally_link_primary.gif', height: '18' %>
    <ul style="font-size:80%">
      <li>
				As this is a PvP centric list, the only general alliances I'm representing stats for are the piercing/resistance ones. Monster
				attack bonuses don't affect effective stats.
			</li>
			<li>If you want to remove a general, but you have no "[Remove]" link, it is because the general is linked in an alliance or a loadout.</li>
    </ul>
  </li>
</ul>