<h1 class="block">FAQ</h1>

<ul>
  <li>
    <%= image_tag 'genally_link_primary.gif', height: '18' %> General is a Master in an alliance
    <ul style="font-size:80%">

			<li>Don't forget to setup your alliances. It will alter how this list is sorted.</li>
			<li>If you want to remove a general, but you have no "[Remove]" link, it is because the general is linked in an alliance or a loadout. To remove a general,
				break the alliance/loadout in COPTER, then "[Remove]" will become available.</li>
    </ul>
  </li>
</ul>