<h1 class="block">FAQ</h1>

<ul>
  <li>
    <strong>How do I design my alliance?</strong>
    <ul>
      In general, you will want to mirror one you have in CA. However, using this tool allows you to play with possible
      alliances, so use it to your advantage.
    </ul>
  </li>
</ul>