<h1 class="block">FAQ</h1>

<ul>
  <li>
    <strong>How do I design my alliance?</strong>
    <ul>
      In general, you will want to mirror one you have in CA.
			<li style="font-size:100%">
        I only care about the stat altering alliances at this point. The other alliances don't alter the stats I display.
      </li>
    </ul>
  </li>
  <li>
    <strong>How many can I create?</strong>
    <ul>
      As many as you like. Though, only a few make sense
    </ul>
  </li>
  <li>
    <strong>Can I create alliances which don't exist in CA?</strong>
    <ul>
      Of course. Use this tool to test which alliances could be best.
    </ul>
  </li>
</ul>